.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('../assets/img/background.jpg');
	background-size: cover;
	background-position: center;
    color: #191a1e;
    height: 100%;
}
.menu-container{
    display: flex;
    width: 25%;
    position: absolute;
    right: 0;
    top: 4px;

}
.menu-container a{
	background-color: #fff;
    border: 2px solid #f34f4f;
    color: #f34f4f;
    cursor: pointer;
    z-index: 9;
    font-size: 12px;
} 
.menu-container a:hover{
    background-color: #f34f4f;
    border: 2px solid #f34f4f;
    color: #fff;
    
}